
.master-container {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: #088;
}

#map-container {
  height: 100%;
  flex: 1;
}

.title{
  display: inline-block;
    color: #fff;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    font-size: 33px;
    margin-left: 20px;
    width: 80%;
}

.bodytext{
  color:#fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  text-align:left;
  margin-left: 20px;
  margin-right:20px;
  display: block;
}

/* set color for hyperlinks*/
a {
  color:#abe9f5;
}

/*the code below is from Chris Whong */
html, body {
  margin: 0;
}
html, body, .master-container, .sidebar, #mapcontainer {
  height: 100%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 30px;
    border-radius: 3px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #088;
    color: #ffffff;
}

#menu a.active:hover {
    background: #00656e;
}
